* {
    background-color: rgb(235, 160, 0)
}

.nav-link {
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 160px;
    color: black;
    font-weight: bold;
    background-color: rgb(252, 248, 237);
    border: none;
    box-shadow: 3px 3px black;
    text-align: center;
}

.nav-link span {
    background-color: rgb(252, 248, 237);
    font-size: 13px;
}

.footer {
    text-align: center;
    color: white;
    font-family: 'raleway', sans-serif;
    padding-top: 12px;
}